* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 0.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.grid1gap1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid2gap1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid4gap1 {
  display: grid;
  grid-template-columns:  1fr 1fr  1fr 1fr;
  gap: 1rem;
}

.card {
  color: var(--mainFontColor);
  background-color: var(--backgroundColorMode);
  border-radius: 20px;
  box-shadow: rgba(var(--primaryShadow), 0.35) 0px 5px 15px;
  margin-bottom: 50px;
  padding: 5px;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.facebook {
  color: var(--facebook);
}

.linkedin {
  color: var(--linkedin);
}

.github {
  color: var(--github);
}
