.myaccount {
  padding: 1rem 0;

  &__header {
    padding-bottom: 1rem;
  }

  &__body {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 1rem;
    @media only screen and (max-width: 768px) {
      grid-template-columns: 50px auto;     
    }

    .menu-icon {
      display: none;
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }

    &--left {
      @media only screen and (max-width: 768px) {
        display: none;
      }
      &-list {
        background-color: var(--backgroundColorSoft);
        margin-bottom: 1rem;
      }

      &-contact_info {
        padding: 1rem 1rem;
        background-color: var(--backgroundColorSoft);
        text-align: center;

        .grid1gap1 {
          margin-top: 1rem;
        }
      }
    }
  }
}
