.shop {
  padding-bottom: 2rem;
  &__header {
    padding: 1rem 0;
    text-align: center;
  }

  .flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 1%;
  }

  &__muiloader {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
