.product-detail {
  padding-top: 3rem;
  @media (max-width: 810px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  &__body {
    .grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
    &--detail {
      padding-right: 2rem;
      width: 100%;
      @media (max-width: 810px) {
        padding-left: 2rem;
      }

      &_payment-methods {
        width: 100%;
      }

      .flex {
        justify-content: space-between;

        @media (max-width: 430px) {
          flex-direction: column;
          .flex {
            flex-direction: row;
          }
        }
      }

      &_button {
        width: 50%;
        @media (max-width: 400px) {
          width: 100%;
        }
      }
    }
  }
}
