.myorders {
  table {
    width: 100%;

    td {
      text-align: center;
    }

    th {
      border-bottom: solid 1px var(--mainFontColor);
    }

    img {
      width: 50px;
    }
  }

  &__list {
    &--product {
      background-color: var(--backgroundColorSoft);
      margin-bottom: 1rem;
      padding: 0.5rem;
      &--time {
        font-size: 0.75rem;
      }

      &--cost {
        border-top: solid 1px var(--mainFontColor);
        p {
          line-height: 1.6rem;
        }

        h4 {
          text-align: end;
        }
      }
    }
  }
}
