.basket-page {
  // width: 100%;
  margin: 2rem 0;
  color: var(--mainFontColor);
  //   border: 1px solid;

  img {
    width: 60px;
  }

  .underline {
    border-bottom: solid 0.5px var(--backgroundColorThird);
  }

  .basket-grid {
    display: grid;
    grid-template-columns: auto 110px 100px 100px;
    align-items: center;
    text-align: center;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 1rem;

    &--left {
      &-header {
        background-color: var(--backgroundColorThird);
        padding: 1rem 0;
      }

      &-content {
        .content-item {
          padding: 1rem 0;

          &__quantity-btn {
            border: solid 1px var(--backgroundColorThird);
            border-radius: 5rem;
          }

          .icon {
            vertical-align: middle;
            font-size: 1.8rem;
            cursor: pointer;
          }
        }

        .content-empty {
          text-align: center;
          padding: 2rem 0;
        }

        .flex {
          justify-content: flex-start;
          gap: 1rem;
          text-align: start;
        }
      }
    }

    &--right {
      &_content-1 {
        .grid {
          gap: 0.5rem;
          padding: 0.5rem;

          .grid-item-1 {
            justify-self: start;
          }

          .grid-item-2 {
            justify-self: end;
            font-weight: 900;
          }
        }
      }
      &_content-2 {
        margin: 1rem 0;
        .banner {
          padding: 0.3rem;
          background-color: var(--backgroundColorSecondary);
          color: #fff;
          text-align: center;

          &__code {
            color: #000;
          }

          p {
            font-size: 0.6rem;
          }
        }
      }

      &_content-3 {
        margin: 0.5rem 0;
        .a {
          vertical-align: middle;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}
