.navbar {
  background-color: var(--backgroundColorPrimary);
  box-shadow: rgba(var(--primaryShadow), 0.35) 0px 5px 15px;
  color: var(--headerFontColor);
  margin-bottom: 1rem;

  &__header {
    height: 5rem;
    justify-content: space-between;
    padding: 0.5rem;

    img {
      height: 100%;
      cursor: pointer;
    }

    &--btn {
      gap: 1rem;
    }
  }
  &__menu {
    padding: 0.5rem;
    border-top: 1px solid;

    .flex {
      justify-content: center;
      gap: 10%;
    }

    &--item {
      list-style: none;
      font-size: 1.3rem;
      padding-bottom: 1px;
      cursor: pointer;

      transition: text-shadow 0.3s;

      &:hover {
        text-shadow: 0 0 4px var(--headerFontColor), 0 0 4px var(--headerFontColor);
      }
    }
  }
}
